{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "es2020": true
  },
  "plugins": [
    "@typescript-eslint",
    "import-helpers"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "globals": {
    "__DEV__": false,
    "__STAGING__": false,
    "__PROD__": false
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "radix": "off",
    "arrow-body-style": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__DEV__",
          "__STAGING__",
          "__PROD__"
        ]
      }
    ],
    "max-len": [
      "error",
      120
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "info"
        ]
      }
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "padded-blocks": [
      "error",
      {
        "classes": "always"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/test/*",
          "**/*.test.ts",
          "**/*.spec.ts"
        ]
      }
    ],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          "/^~/",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "ignoreCase": true
        }
      }
    ],
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
